<div class="cardshow">
  <h3>Loyalty</h3>
  <p>
    Points:
    <% if @user.loyalty_points %>
      <%= @user.loyalty_points %>
    <% else  %>
      <%= 0 %>
    <% end  %>
  </p>
</div>
<br>
<% if @reservations && @reservations.any?  %>
<div class="cardshow">
  <h3>Your Reservations</h3>
    <% @reservations.each do |reservation| %>
    <p><strong>Time:</strong> <%=  reservation.time %></p>
    <p><strong>Restaurant Name:</strong> <%=  reservation.restaurant.name %></p>
    <p><strong>Party Size:</strong> <%=  reservation.party_size %></p>
    <br>
  <% end %>
</div>
<br>
<% end %>

<% if @restaurants && @restaurants.any? %>
<div class="cardshow">
  <h3>Your Restaurants</h3>
  <p>
    <% if current_user.role.id == 2 %>
      <% @restaurants.each do |restaurant| %>
      <% if restaurant.user_id == current_user.id %>
        <br>
        <strong><%= link_to "#{restaurant.name}", restaurant_path(restaurant.id) %></strong>
        <br>
      <% end %>
    <% end %>
    <br>
  <% end %>
  </p>
</div>
<br>
<% end %>

<div class="cardshow">
  <h3>Reservations in owned restaurants within a week</h3>
  <p>
    <% if current_user.role.id == 2 %>
      <% @reservations_within_week.each do |reservation| %>
        <p><strong>Time:</strong> <%=  reservation.time %></p>
        <p><strong>Restaurant Name:</strong> <%=  reservation.restaurant.name %></p>
        <p><strong>Party Size:</strong> <%=  reservation.party_size %></p>
      <% end %>
    <% end %>
    <br>
  </p>
</div>


<div class="cardshow">
  <h3>Top Customer loyalty in your Restaurants</h3>
  <p>
    <% if current_user.role.id == 2 %>
      <% @customers.each do |customer| %>
        <p><strong>Customer:</strong> <%= customer.name %><strong>Loyalty:</strong> <%= customer.loyalty_points %></p>
      <% end %>
    <% end %>
    <br>
  </p>
</div>
