<p>
  Loyalty Points:
  <% if @user.loyalty_points %>
    <%= @user.loyalty_points %>
  <% else  %>
    <%= 0 %>
  <% end  %>
</p>
<% if @reservations && @reservations.any?  %>
<div class="cardshow">
    <% @reservations.each do |reservation| %>
    <p><strong>Time:</strong> <%=  reservation.time %></p>
    <p><strong>Restaurant Name:</strong> <%=  reservation.restaurant.name %></p>
    <p><strong>Party Size:</strong> <%=  reservation.party_size %></p>
    <br>
  <% end %>
</div>
<br>
<% end %>

<% if @restaurants && @restaurants.any? %>
<div class="cardshow">
  <p>
    <% if current_user.role.id == 2 %>
      <% @restaurants.each do |restaurant| %>
      <% if restaurant.user_id == current_user.id %>
        <br>
        <strong><%= link_to "#{restaurant.name}", restaurant_path(restaurant.id) %></strong>
        <br>
      <% end %>
    <% end %>
    <br>
  <% end %>
  </p>
</div>
<br>
<% end %>
