<%= form_for ([restaurant,reservation]) do |f| %>
  <p>
    <%= f.label :name  %>
    <%= restaurant.name %>
  </p>
  <p>
    <%= f.label :party_size  %>
    <%= f.number_field :party_size %>
  </p>
  <p>
    <%= f.label :time  %>
    <%= f.datetime_select :time %>
  </p>
  <p>
  <%= f.submit %>
  </p>
<% end %>
