<div class="cardshow">
<%= form_for [restaurant,reservation], :url => "/restaurants/#{restaurant.id}/reservations/confirmation" do |f| %>
  <p>
    <%= f.label 'Restaurant'  %>:
    <%= restaurant.name %>
  </p>
  <p>
    <%= f.label :party_size  %>:
    <%= f.text_field :party_size %>
  </p>
  <p>
    <%= f.label :time  %>:
    <%= f.datetime_select :time, minute_step: 60  %>
  </p>
  <p>
  <%= f.submit %>
  </p>
<% end %>
</div>
