<div class="flexcontainer">

<% @restaurants.each do |restaurant| %>
  <%= link_to restaurant_path(restaurant.id) do %>
    <div class="card">
      <p><strong>Name:</strong> <%= restaurant.name %></p>
      <p><strong>Address:</strong> <%= restaurant.address %></p>
      <p><strong>City:</strong> <%= restaurant.city %></p>
      <p><strong>Price Range:</strong> <%= restaurant.price_range %></p>
      <p><strong>Summary:</strong> <%= restaurant.summary %></p>
      <p><strong>Menu:</strong> <%= restaurant.menu %></p>
    </div>
  <% end %>
<% end %>

</div>
